:root {
    --tilewidth: 256px;
    --tileratio: 29/15
}
[data-component=carousel] {
    height: calc(var(--tilewidth)*var(--tileratio));
    overflow: visible;
    width: 100%
}
[data-carousel=body] {
    display: flex;
    justify-content: center;
    overflow-x: visible;
    width: 100%
}
[data-component=carousel] ul {
    align-items: baseline;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0
}
[data-carousel=tile] {
    filter: brightness(50%);
    height: calc(var(--tilewidth)*var(--tileratio));
    margin: 12px;
    min-width: var(--tilewidth);
    transform: scale(99%)
}
[data-carousel=tile].active {
    filter: none;
    transform: none
}
[data-carousel=buttons] {
    height: 64px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 12;
    display: flex;
    justify-content: space-between;
}
[data-carousel=buttons] button {
    background: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    height: 64px;
    transition: .2s ease-out;
    width: 64px
}
[data-carousel=buttons] button:hover {
    filter: brightness(150%);
    transform: translateY(-1px)
}
[data-carousel=buttons] button:focus {
    outline: none
}
[data-carousel=buttons] button:active {
    transform: translateY(1px)
}
[data-carousel=buttons] button:first-of-type {
    background: url(https://cdn.palmilhando.com.br/media/img/svg/scroll_bttn_l.svg);
}
[data-carousel=buttons] button:last-of-type {
    background: url(https://cdn.palmilhando.com.br/media/img/svg/scroll_bttn_r.svg);
}
@media screen and (max-width: 820px) {
    [data-carousel=buttons] {
        display: none;
        visibility: hidden
    }
    [data-carousel=body] {
        justify-content: start;
        overflow-x: scroll
    }
    [data-carousel=body] ul {
        justify-content: start;
        position: relative
    }
    [data-carousel=body]::-webkit-scrollbar {
        display: block
    }
    [data-carousel=body]::-webkit-scrollbar-thumb {
        background: #0986bf;
        border-radius: 12px
    }
    [data-carousel=tile] {
        filter: none;
        transform: none
    }
}