[data-component=floating-buttons] {
    aspect-ratio: 1/2;
    bottom: 1vw;
    flex-direction: column;
    height: 128px;
    position: fixed;
    right: 1vw;
    z-index: 999
}
[data-component=floating-buttons] a {
    aspect-ratio: 1;
    flex-basis: 50%;
    flex-grow: 1;
    left: 150px;
    margin: .25vw;
    position: relative;
    transition: .3s ease-in-out
}
[data-component=floating-buttons] a button {
    aspect-ratio: 1;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    border: .25vw solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s ease-in-out;
    width: 100%
}
[data-component=floating-buttons] a button:hover {
    filter: brightness(110%)
}
[data-component=floating-buttons], [data-component=floating-buttons] a {
    align-items: center;
    display: flex;
    justify-content: center
}
[data-button=scroll-top] button {
    background-color: var(--cor3);
    background-image: url(https://cdn.palmilhando.com.br/media/img/svg/home.svg)
}
[data-button=whatsapp] button {
    background-color: var(--cor5);
    background-image: url(https://cdn.palmilhando.com.br/media/img/svg/whatsapp_white.svg)
}