:root {
  --containerHeight: 8vw
}
#float-buttons {
  position: fixed;
  width: calc(var(--containerHeight) / 2);
  height: var(--containerHeight);
  display: block;
  bottom: 1vw;
  right: 1vw;
  z-index: 999;
}
.floating-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(var(--containerHeight) / 2.1);
  border: solid 5px #fff;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  aspect-ratio: 1;
  right: -100px;
  transform: translate(12%);
  }
.floating-button img {
  max-width: 60%;
  margin: auto;
}
  #top-button {
    background-color: #009fb5;
    background-image: linear-gradient(-90deg, #7ed4db, #0986bf);
    background-image: -moz-linear-gradient(-90deg, #7ed4db, #0986bf);
    background-image: -webkit-linear-gradient(-90deg, #7ed4db, #0986bf);
    top: 0;
  }
  #whatsapp-button {
    background-color: #25d366;
    background-image: linear-gradient(90deg, #25d366, #87fd81);
    background-image: -moz-linear-gradient(90deg, #25d366, #87fd81);
    background-image: -webkit-linear-gradient(90deg, #25d366, #87fd81);
    bottom: 0;
}
  .floating-button:hover {
    filter: brightness(110%);
  }
  @media screen and (max-width:768px) {
    :root {--containerHeight: 20vw}
    .floating-button {
      border: 3px solid #fff;
    }
    .floating-button:hover {
      filter: none;
    }
  }
  @media screen and (max-width:425px) {
    :root {--containerHeight:25vw}
  }