@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #1E3050;
}

span, img, label, h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0px;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

mark {
    background: none;
}

mark.green {
    color: #25d366;
}

h1, h2, h3, p {
    max-width: 50%;
    margin: 2vw;
}

h1 {
    font-size: 2.3vw;
}

h2 {
    font-size: 1vw;
    font-weight: 400;
}

p {
    font-size: 1vw;
    font-weight: 400;
}

svg, button, img {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

button:focus {
    outline: none;
}

section {
    position: relative;
    padding: 2.5vw 0;
}

blue-txt {
    color: #0986bf;
}

a {
    text-decoration: none;
}

a:active, a:visited {
    text-decoration: none;
}

ul {
    list-style: url(../img/svg/check.svg) !important;
}

.bg-white {
    background-color: #fff;
}

.content-default {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}

.bg-tab, .down-tab, .up-tab {
    width: 100vw;
    position: relative;
    z-index: 0;
}

.up-tab {
    transform: scaleY(-1) translateY(-15px);
}

.down-tab {
    transform: translateY(-15px) scaleX(-1);
}

.down-tab:first-of-type {
    top: -3vw;
}

.content {
    padding: 0 5vw;
}

.hidden {
    display: none;
}

.blue-grad {
    background-color: #009fb5;
    background-image: linear-gradient(-90deg, #7ed4db, #0986bf, #1E3050);
    background-image: -moz-linear-gradient(-90deg, #7ed4db, #0986bf, #1E3050);
    background-image: -webkit-linear-gradient(-90deg, #7ed4db, #0986bf, #1E3050);
    background-size: 200%;
    background-position: 0%;
    color: #fff;
}

.blue-grad blue-txt {
    color: #abf0fc;
}

.blank-tab {
    transform: translateY(10px);
    position: absolute;
    bottom: 0;
}

.backlight {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 50%;
    aspect-ratio: 1;
    background-color: #fff;
    background-blend-mode: soft-light;
    border-radius: 50%;
    opacity: 0.1;
    filter: blur(100px);
}

.divider {
    background-image: radial-gradient(#fff, rgba(255, 255, 255, 0));
    opacity: 0.8;
    width: 90%;
    height: 1px;
    display: block;
    margin: auto;
}

.header {
    position: relative;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 0%;
    width: 100vw;
}

.header .logo {
    max-width: 65vw;
    padding: 5vw 5vw 15vw 0;
    margin: 0 5vw;
    display: block;
}

.header .logo img {
    max-width: 80%;
    margin: auto;
}

.header .logo .container {
    padding: 1vw 5vw 5vw;
    color: #fff;
    max-width: 80%;
    margin: 0 auto;
}

.header .logo .container h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 2vw;
    max-width: 100%;
}

.header .logo .container h2 {
    font-size: 1vw;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

.header .logo .container button {
    margin: 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.5% 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease-in;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    background-color: #009fb5;
    background-image: linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -moz-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -webkit-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-size: 150%;
    background-position: 0%;
    display: block;
    max-width: 80%;
    width: 70%;
    margin: 1vw auto;
    font-size: 1.5vw;
}

.header .logo .container button:hover {
    transform: scale(101%) translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.header .logo .container button:active {
    transform: scale(100%);
}

@media screen and (max-width: 768px) {
    .header .logo .container button {
        font-size: 3vw;
        max-width: 100% !important;
    }
}

.header .logo .container span {
    display: block;
    margin: 2vw auto;
    font-size: 0.8vw;
    max-width: 60%;
    text-align: center;
}

.header .logo .container .box {
    display: block;
    margin: 2vw auto;
    mix-blend-mode: hard-light;
}

.header .logo .container .box img {
    max-width: 15vw;
    display: block;
    margin: auto;
}

.header .content {
    padding-top: 10vw;
}

.header .content button {
    margin: 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.5% 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease-in;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    background-color: #009fb5;
    background-image: linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -moz-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -webkit-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-size: 150%;
    background-position: 0%;
    margin: 0 2vw;
}

.header .content button:hover {
    transform: scale(101%) translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.header .content button:active {
    transform: scale(100%);
}

@media screen and (max-width: 768px) {
    .header .content button {
        font-size: 3vw;
        max-width: 100% !important;
    }
}

.proposta {
    position: relative;
    top: -5vw;
}

.proposta .container {
    max-width: 50%;
    width: 50%;
    margin: auto;
}

.proposta .container h1, .proposta .container p {
    max-width: 80%;
}

.proposta .container h2 {
    font-size: 0.8vw;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.proposta .container img {
    max-width: 100%;
    margin: 1vw auto;
}

.proposta #duvida, .proposta #duvida2 {
    color: #0986bf;
    font-weight: 500;
    display: inline;
}

.proposta a {
    max-width: 100%;
}

.proposta button {
    margin: 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.5% 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease-in;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    background-color: #009fb5;
    background-image: linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -moz-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -webkit-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-size: 150%;
    background-position: 0%;
    margin: 1vw auto;
    max-width: 100%;
    width: 100%;
    display: block;
    position: relative;
}

.proposta button:hover {
    transform: scale(101%) translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.proposta button:active {
    transform: scale(100%);
}

@media screen and (max-width: 768px) {
    .proposta button {
        font-size: 3vw;
        max-width: 100% !important;
    }
}

.depoimentos {
    height: 40.2222222222vw;
    margin-bottom: 5vw;
    padding: 0;
}

.depoimentos h1 {
    text-align: center;
    margin: auto;
    max-width: 50%;
}

.depoimentos .content {
    height: 100%;
}

.depoimentos .content .content-default {
    height: 100%;
    position: relative;
    display: flex;
}

.depoimentos .content .content-default img[src="public/img/phone-frame.png"] {
    height: 30.2222222222vw;
    width: 17vw;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    z-index: 10;
}

.depoimentos .content .content-default .phone-content {
    z-index: 2;
    display: flex;
    margin: auto;
    position: relative;
}

.depoimentos .content .content-default .phone-content .screen {
    background-color: #fff;
    color: #1E3050;
    border-radius: 1.8vw;
    width: 16.32vw;
    height: 29.0133333333vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60.5%);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.depoimentos .content .content-default .phone-content .screen .content {
    padding: 15% 5% 10% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.depoimentos .content .content-default .phone-content .screen .content .container img {
    max-width: 25%;
    border-radius: 50%;
    margin: auto;
}

.depoimentos .content .content-default .phone-content .screen .content .container h1, .depoimentos .content .content-default .phone-content .screen .content .container h2 {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
    padding: 0;
    font-size: 0.85vw;
}

.depoimentos .content .content-default .phone-content .screen .content .time {
    font-size: 0.5666666667vw;
    opacity: 0.75;
    color: #1E3050;
    margin: 0.5vw auto;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: end;
}

.depoimentos .content .content-default .phone-content .screen .content .text-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-height: 100%;
}

.depoimentos .content .content-default .phone-content .screen .content .text-body .img-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 15%;
}

.depoimentos .content .content-default .phone-content .screen .content .text-body .img-container img {
    max-width: 100%;
    border-radius: 50%;
    margin: 0 auto;
}

.depoimentos .content .content-default .phone-content .screen .content .text-body .container {
    width: 80%;
}

.depoimentos .content .content-default .phone-content .screen .content .text-body .container .text-bubble {
    max-width: 100%;
    height: auto;
    background-color: #efede9;
    border-radius: 1.5vw;
    padding: 7.5%;
    margin: auto 5% 0% auto;
    position: relative;
}

.depoimentos .content .content-default .phone-content .screen .content .text-body .container .text-bubble p {
    font-size: 0.6296296296vw;
    max-width: 100%;
    margin: auto;
}

.depoimentos .content .content-default .phone-content .screen .content .rectangle {
    width: 100%;
    height: 5%;
    background-color: #efede9;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.depoimentos .content .content-default .phone-content .screen.active {
    z-index: 5;
}

.depoimentos .content .content-default .phone-content .screen.next {
    transform: scale(90%) translate(25%, -60%);
    filter: brightness(90%) opacity(90%) blur(1.5px);
}

.depoimentos .content .content-default .phone-content .screen.prev {
    transform: scale(90%) translate(-125%, -60%);
    filter: brightness(90%) opacity(90%) blur(1.5px);
}

.depoimentos .content .content-default .phone-content .button-container {
    width: 24vw;
    height: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    z-index: 10;
}

.depoimentos .content .content-default .phone-content .button-container .button {
    color: #fff;
    font-size: 5vw;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
    opacity: 0.75;
}

.depoimentos .content .content-default .phone-content .button-container .button:hover {
    opacity: 1;
    transform: scale(103%);
}

.depoimentos .content .content-default .phone-content .button-container .button:active {
    transform: scale(100%);
}

.depoimentos .content .content-default .phone-content .button-container .button:nth-child(1) {
    float: left;
}

.depoimentos .content .content-default .phone-content .button-container .button:nth-child(2) {
    float: right;
}

.depoimentos .content .content-default .shadow {
    background-color: #1E3050;
    position: absolute;
    bottom: -10%;
    left: 50%;
    right: 50%;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    filter: blur(50px) opacity(30%);
    transform: scaleY(10%) translateX(-50%);
}

.pratica .content-default {
    display: flex;
    justify-content: center;
}

.pratica .content-default .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    position: relative;
}

.pratica .content-default .container:first-of-type {
    flex-grow: 1;
}

.pratica .content-default .container:last-of-type {
    max-width: 50%;
}

.pratica .content-default .container h1, .pratica .content-default .container h2, .pratica .content-default .container p, .pratica .content-default .container ul, .pratica .content-default .container li {
    max-width: 100%;
    margin: 0.5vw;
}

.pratica .content-default .container h1 {
    max-width: 100%;
}

.pratica .content-default .container h2 {
    font-size: 1.3vw;
    font-weight: 600;
}

.pratica .content-default .container ul {
    list-style: url(../img/svg/check.svg);
    margin: 0;
    padding: 0;
}

.pratica .content-default .container ul li {
    font-size: 1vw;
}

.pratica .content-default .container img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.pratica .content-default a {
    margin: 0;
}

.pratica .content-default a button {
    margin: 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.5% 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease-in;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    background-color: #009fb5;
    background-image: linear-gradient(165deg, #7ed4db, #0986bf);
    background-image: -moz-linear-gradient(165deg, #7ed4db, #0986bf);
    background-image: -webkit-linear-gradient(165deg, #7ed4db, #0986bf);
    background-size: 600%;
    background-position: 100%;
    display: block;
    margin: auto;
    font-weight: 600;
}

.pratica .content-default a button:hover {
    transform: scale(101%) translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.pratica .content-default a button:active {
    transform: scale(100%);
}

@media screen and (max-width: 768px) {
    .pratica .content-default a button {
        font-size: 3vw;
        max-width: 100% !important;
    }
}

.pratica .content-default .shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    width: 80%;
    height: 5px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #1E3050;
    background-blend-mode: multiply;
    filter: blur(10px);
    transform: translateX(-50%);
}

.criadores .content {
    position: relative;
}

.criadores .content .backlight {
    width: 50%;
}

.criadores .content h1 {
    margin: auto;
    text-align: center;
}

.criadores .content .content-default {
    justify-content: center;
}

.criadores .content .content-default .container {
    display: flex;
    width: 100%;
    border-radius: 2vw;
    justify-content: space-between;
    margin: 2vw;
}

.criadores .content .content-default .container .image {
    max-width: 12vw;
}

.criadores .content .content-default .container .image img {
    margin: auto;
    max-width: 100%;
    display: block;
    border-radius: 2vw;
    backdrop-filter: brightness(180%) saturate(80%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0), #fff);
    background-size: 300%;
}

.criadores .content .content-default .container .text {
    display: block;
    margin: auto 0;
    border: solid 1px white;
    border-left: none;
    border-radius: 0 2vw 2vw 0;
    width: 100%;
    height: 90%;
    overflow: hidden;
    backdrop-filter: brightness(125%);
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: left;
    padding: 1vw;
    position: relative;
}

.criadores .content .content-default .container .text h1 {
    max-width: 100%;
    font-size: 2vw;
}

.criadores .content .content-default .container .text ul {
    padding: 0 0 0 1vw;
}

.criadores .content .content-default .container .text li {
    margin: 0.3vw;
    padding: 0.5vw;
    font-size: 1vw;
}

.criadores .content .content-default .container .text [src="public/img/svg/palmilhas_palmilhando.svg"] {
    position: absolute;
    right: -3vw;
    bottom: -2vw;
    transform: scale(125%);
    opacity: 0.1;
    background-blend-mode: soft-light;
    z-index: -1;
    filter: blur(2.5px);
}

.amostra {
    margin: 5vw 0 0 0;
    background-color: rgba(255, 255, 255, 0.5960784314);
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    backdrop-filter: brightness(180%) saturate(80%);
}

.amostra blue-txt {
    color: #0986bf;
}

.amostra .content-default {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5vw 0;
    border: solid 2px white;
}

.amostra .content-default .container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.amostra .content-default .container [src="public/img/andre-avental.png"] {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 20vw;
    z-index: 3;
    transform: translate(-50%, -60%);
}

.amostra .content-default .container [src="public/img/andre_prop.png"] {
    position: absolute;
    max-width: 20vw;
    z-index: 3;
    transform: translate(0%, calc(-60% - 6.5vw));
}

.amostra .content-default .container .backlight {
    width: 80%;
    opacity: 0.3;
    z-index: 1;
}

.amostra .content-default .container h1 {
    margin: 0;
    color: #1E3050;
    max-width: 100%;
}

.amostra .content-default .container ul {
    margin: 0;
    max-width: 100%;
    list-style: url(../img/svg/check_blue.svg) !important;
}

.amostra .content-default .container ul li {
    font-size: 1vw;
    margin: 0.3vw;
    color: #1E3050;
}

.amostra .content-default .container a {
    display: block;
    margin: auto auto 0 auto;
    width: 100%;
    z-index: 5;
}

.amostra .content-default .container a button {
    display: block;
    margin: 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.5% 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease-in;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    background-color: #009fb5;
    background-image: linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -moz-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -webkit-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-size: 150%;
    background-position: 0%;
    margin: auto;
    font-size: 1.8vw;
    z-index: 5;
    width: 100%;
}

.amostra .content-default .container a button:hover {
    transform: scale(101%) translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.amostra .content-default .container a button:active {
    transform: scale(100%);
}

@media screen and (max-width: 768px) {
    .amostra .content-default .container a button {
        font-size: 3vw;
        max-width: 100% !important;
    }
}

.aulas .content .backlight {
    width: 80%;
}

.aulas .content img {
    max-width: 90%;
    margin: auto;
}

.aulas .content .content-default {
    display: flex;
    justify-content: center;
}

.aulas .content .content-default .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aulas .content .content-default .container:first-of-type {
    width: 30%;
}

.aulas .content .content-default .container:last-of-type {
    width: 50%;
}

.aulas .content .content-default .container h1, .aulas .content .content-default .container h2 {
    margin: 0 auto;
    max-width: 80%;
}

.aulas .content .content-default .container h2 {
    color: #abf0fc;
}

.aulas .content .content-default .container h2 blue-txt {
    color: #fff;
}

.aulas .content .content-default .container h2 strong {
    color: #fff;
}

.aulas .content .content-default .container a button {
    margin: 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.5% 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease-in;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    background-color: #009fb5;
    background-image: linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -moz-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -webkit-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-size: 150%;
    background-position: 0%;
    display: block;
    margin: 2vw auto;
    max-width: 100%;
    width: 80%;
    border-radius: 1vw;
}

.aulas .content .content-default .container a button:hover {
    transform: scale(101%) translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.aulas .content .content-default .container a button:active {
    transform: scale(100%);
}

@media screen and (max-width: 768px) {
    .aulas .content .content-default .container a button {
        font-size: 3vw;
        max-width: 100% !important;
    }
}

.vantagens {
    padding-bottom: 0;
}

.vantagens #title {
    width: 100%;
    display: block;
    margin: auto;
    font-size: 1.8vw;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #0986bf, #3fbac5, #0dbd7c), #009fb5;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 4vw;
}

.vantagens h1, .vantagens h2, .vantagens h3, .vantagens p, .vantagens li {
    color: #1E3050;
}

.vantagens .strip {
    width: 100vw;
    background-color: #0986bf;
    position: relative;
}

.vantagens .strip span {
    font-size: 1vw;
    font-weight: 600;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vantagens .strip img {
    width: 100%;
    opacity: 0.1;
    mix-blend-mode: soft-light;
    margin: auto;
}

.vantagens .content {
    background-image: radial-gradient(circle, #f2f5f6, #c7d7f0);
    padding: 3vw;
    display: block;
}

.vantagens .content h1 {
    margin: auto;
    text-align: center;
}

.vantagens .content .content-default {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

.vantagens .content .content-default .container {
    padding: 2vw;
}

.vantagens .content .content-default .container h1, .vantagens .content .content-default .container p, .vantagens .content .content-default .container li, .vantagens .content .content-default .container ul {
    max-width: 100%;
}

.vantagens .content .content-default .container h1 {
    margin: 1vw auto;
}

.vantagens .content .content-default .container p {
    margin: 1vw auto;
}

.vantagens .content .content-default .container ul {
    list-style: url(../img/svg/check_blue.svg) !important;
    padding: 0;
    margin: 0;
}

.vantagens .content .content-default .container ul li {
    font-size: 1vw;
}

.vantagens .content .content-default .container button {
    margin: 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.5% 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease-in;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    background-color: #009fb5;
    background-image: linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -moz-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -webkit-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-size: 150%;
    background-position: 0%;
    border-radius: 1vw;
    width: 100%;
    font-size: 1.5vw;
    margin: 1vw 0;
}

.vantagens .content .content-default .container button:hover {
    transform: scale(101%) translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.vantagens .content .content-default .container button:active {
    transform: scale(100%);
}

@media screen and (max-width: 768px) {
    .vantagens .content .content-default .container button {
        font-size: 3vw;
        max-width: 100% !important;
    }
}

.vantagens .content-default#content-2 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

.vantagens .content-default#content-2 .container {
    margin: 1vw auto;
    max-width: 80%;
    display: flex;
    align-content: center;
    position: relative;
    background-color: #fff;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    border-radius: 1vw;
    padding: 2vw 1vw 1vw;
}

.vantagens .content-default#content-2 .container img {
    max-width: 30%;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vantagens .content-default#content-2 .container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vantagens .content-default#content-2 .container .box p {
    font-size: 0.7vw;
    text-align: center;
}

.vantagens .content-default#content-2 .container .box h1 {
    font-size: 0.6vw;
    font-weight: 500;
    margin: 0;
    text-align: center;
    font-style: italic;
}

.valor {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-image: linear-gradient(#0c6b96, #1E3050);
    padding: 5vw 0;
}

.valor .content .content-default {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
}

.valor .content .content-default .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
}

.valor .content .content-default .container h2 {
    font-size: 1.8vw;
    font-weight: 600;
    max-width: 100%;
    margin: 0 auto;
}

.valor .content .content-default .container p {
    font-size: 1vw;
    font-weight: 300;
    margin: 0.8vw 0;
    padding: 0;
    max-width: 100%;
    opacity: 0.8;
}

.valor .content .content-default .container ul {
    padding: 0;
    list-style: url(../img/svg/green_bullet.svg) !important;
}

.valor .content .content-default .container ul li {
    margin: 0.8vw 0;
    font-size: 1vw;
    font-weight: 300;
    opacity: 0.8;
}

.valor .content .content-default .container .box {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #fff;
    border-radius: 1vw;
    padding: 1.5vw 0;
    backdrop-filter: brightness(150%) saturate(80%);
    position: relative;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.valor .content .content-default .container .box [src="public/img/svg/logo_palmilhando.svg"] {
    max-width: 60%;
    margin: 0 auto;
}

.valor .content .content-default .container .box h1 {
    max-width: 100%;
    font-weight: 750;
    font-size: 3vw;
    text-align: center;
    margin: 0.25vw auto;
}

.valor .content .content-default .container .box h2 {
    max-width: 100%;
    font-weight: 400;
    font-size: 1vw;
    text-align: center;
    margin: 0.8vw auto;
}

.valor .content .content-default .container .box h3 {
    font-size: 0.7vw;
    text-align: center;
    margin: 0.5vw auto;
    max-width: 100%;
    font-weight: 300;
}

.valor .content .content-default .container .box button {
    margin: 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.5% 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease-in;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    background-color: #009fb5;
    background-image: linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -moz-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -webkit-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-size: 150%;
    background-position: 0%;
    display: block;
    margin: 1.5vw auto;
    width: 80%;
    border-radius: 1vw;
}

.valor .content .content-default .container .box button:hover {
    transform: scale(101%) translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.valor .content .content-default .container .box button:active {
    transform: scale(100%);
}

@media screen and (max-width: 768px) {
    .valor .content .content-default .container .box button {
        font-size: 3vw;
        max-width: 100% !important;
    }
}

.valor .content .content-default .container .box p {
    font-size: 0.7vw;
    font-weight: 300;
    text-align: center;
    margin: 2vw auto;
    max-width: 60%;
}

.valor .content .content-default .container .box [src="public/img/pagamento.png"] {
    max-width: 40%;
    opacity: 0.75;
    margin: auto;
}

.garantia {
    padding-top: 11vw;
}

.garantia img {
    max-width: 12vw;
    margin: auto;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%);
}

.garantia .content-default {
    justify-content: center;
}

.garantia .content-default .container {
    position: relative;
    max-width: 80%;
    text-align: center;
}

.garantia .content-default .container h1, .garantia .content-default .container p {
    max-width: 80%;
    margin: 1vw auto;
}

.garantia .content-default .container button {
    margin: 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.5% 5%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease-in;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    background-color: #009fb5;
    background-image: linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -moz-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-image: -webkit-linear-gradient(to right, #0986bf, #3fbac5, #00ffa2);
    background-size: 150%;
    background-position: 0%;
    border-radius: 1vw;
    width: 50%;
    font-size: 1.5vw;
    margin: 1vw auto;
}

.garantia .content-default .container button:hover {
    transform: scale(101%) translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.garantia .content-default .container button:active {
    transform: scale(100%);
}

@media screen and (max-width: 768px) {
    .garantia .content-default .container button {
        font-size: 3vw;
        max-width: 100% !important;
    }
}

.faq .content-default {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
}

.faq .content-default h1 {
    max-width: 100%;
    font-size: 1.8vw;
    font-weight: 500;
    margin: 1vw 0;
}

.faq .content-default h3 {
    max-width: 100%;
    font-size: 1vw;
    font-weight: 300;
    opacity: 0.8;
    margin: 1vw 0;
}

.faq .container {
    margin: 0 2vw 0 0;
}

.faq .collapsible h1 {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    position: relative;
    padding: 1vw 0;
    font-size: 1vw;
    font-weight: 600;
    margin: 0;
    transition: 0.1s ease-in-out;
}

.faq .collapsible .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.faq .collapsible .collapsible-content p {
    padding: 1vw 0;
    font-size: 0.9vw;
    margin: 0;
    max-width: 80%;
    font-weight: 300;
}

.faq .collapsible.collapsed h1::after {
    content: "+";
    position: absolute;
    right: 0;
}

.faq .collapsible.expanded h1::after {
    content: "−";
    position: absolute;
    right: 0;
}

.faq .collapsible.expanded h1 {
    color: #7ed4db;
}

.faq .collapsible.collapsed h1 {
    color: #fff;
}

.faq .collapsible.collapsed h1:hover {
    color: #7ed4db;
    cursor: pointer;
}

.faq a, .faq a:link, .faq a:hover a:visited, .faq a:active {
    color: #fff;
    text-decoration: none;
}

.faq .box {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1vw 0;
    padding: 1vw;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 1vw;
    backdrop-filter: brightness(115%) saturate(90%);
    transition: 0.2s ease-in-out;
}

.faq .box img {
    max-width: 15%;
}

.faq .box span {
    margin: 0 1vw;
    font-size: 1vw;
    font-weight: 500;
}

.faq .box:hover {
    backdrop-filter: brightness(135%) saturate(90%);
}

.faq h4 {
    text-align: center;
    font-size: 0.8vw;
    font-weight: 300;
    margin: auto;
    padding: 5vw;
}

.faq p a {
    transition: 0.1s ease-in;
    font-weight: 500;
    text-decoration: underline !important;
}

.faq p a:hover {
    color: #7ed4db;
}

@media screen and (max-width: 768px) {
    body, html {
        overflow-x: hidden;
    }

    h1, h2, h3, p {
        max-width: 100%;
        margin: 2vw;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 2vw;
        font-weight: 400;
    }

    p {
        font-size: 2vw;
        font-weight: 400;
    }

    .content-default {
        display: block;
        max-width: 100%;
        padding: 2vw;
    }

    [src="public/img/svg/tab.svg"] {
        transform: scaleY(200%);
    }

    .header {
        background-image: url(../img/header_mobile.png);
        background-size: cover;
    }

    .header [src="public/img/svg/logo_palmilhando.svg"] {
        max-width: 100%;
        width: 100%;
    }

    .header .logo {
        padding: 10vw 5vw;
        margin: auto;
        max-width: 100vw;
    }

    .header .logo .container {
        max-width: 100%;
    }

    .header .logo .container h1 {
        font-size: 3vw;
        max-width: 85%;
        margin: 2vw auto;
    }

    .header .logo .container h2 {
        font-size: 1.8vw;
        max-width: 65%;
    }

    .header .logo .container button {
        margin: 2vw auto;
        width: 60%;
    }

    .header .blank-tab {
        transform: translate(0, 25%);
    }

    .proposta h1, .proposta p {
        max-width: 100%;
        width: 100%;
        margin: 2vw auto;
    }

    .proposta .container {
        max-width: 100%;
        width: 100%;
        text-align: center;
        padding: 5vw 0 2vw;
    }

    .depoimentos {
        height: 98.8888888889vw;
        margin-bottom: 15vw;
    }

    .depoimentos h1 {
        max-width: 100%;
        width: 100%;
        margin: 2vw auto;
    }

    .depoimentos .content {
        height: 100%;
    }

    .depoimentos .content .content-default {
        height: 100%;
        position: relative;
        display: flex;
    }

    .depoimentos .content .content-default img[src="public/img/phone-frame.png"] {
        height: 88.8888888889vw;
        width: 50vw;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%);
        z-index: 10;
    }

    .depoimentos .content .content-default .phone-content {
        z-index: 2;
        display: flex;
        margin: auto;
        position: relative;
    }

    .depoimentos .content .content-default .phone-content .screen {
        background-color: #fff;
        color: #1E3050;
        border-radius: 6vw;
        width: 48vw;
        height: 85.3333333333vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -56%);
        transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .depoimentos .content .content-default .phone-content .screen .content {
        padding: 15% 5% 10% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .depoimentos .content .content-default .phone-content .screen .content .container img {
        max-width: 25%;
        border-radius: 50%;
        margin: auto;
    }

    .depoimentos .content .content-default .phone-content .screen .content .container h1, .depoimentos .content .content-default .phone-content .screen .content .container h2 {
        display: block;
        margin: auto;
        text-align: center;
        max-width: 100%;
        padding: 0;
        font-size: 2.5vw;
    }

    .depoimentos .content .content-default .phone-content .screen .content .time {
        font-size: 1.6666666667vw;
        opacity: 0.75;
        color: #1E3050;
        margin: 0.5vw auto;
        display: flex;
        flex-grow: 1;
        justify-content: end;
        align-items: end;
    }

    .depoimentos .content .content-default .phone-content .screen .content .text-body {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-height: 100%;
    }

    .depoimentos .content .content-default .phone-content .screen .content .text-body .img-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 15%;
    }

    .depoimentos .content .content-default .phone-content .screen .content .text-body .img-container img {
        max-width: 100%;
        border-radius: 50%;
        margin: 0 auto;
    }

    .depoimentos .content .content-default .phone-content .screen .content .text-body .container {
        width: 80%;
    }

    .depoimentos .content .content-default .phone-content .screen .content .text-body .container .text-bubble {
        max-width: 100%;
        height: auto;
        background-color: #efede9;
        border-radius: 1.5vw;
        padding: 7.5%;
        margin: auto 5% 0% auto;
        position: relative;
    }

    .depoimentos .content .content-default .phone-content .screen .content .text-body .container .text-bubble p {
        font-size: 1.8518518519vw;
        max-width: 100%;
        margin: auto;
    }

    .depoimentos .content .content-default .phone-content .screen .content .rectangle {
        width: 100%;
        height: 5%;
        background-color: #efede9;
        border-radius: inherit;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .depoimentos .content .content-default .phone-content .screen.active {
        z-index: 5;
    }

    .depoimentos .content .content-default .phone-content .screen.next {
        transform: scale(90%) translate(25%, -60%);
        filter: brightness(90%) opacity(90%) blur(1.5px);
    }

    .depoimentos .content .content-default .phone-content .screen.prev {
        transform: scale(90%) translate(-125%, -60%);
        filter: brightness(90%) opacity(90%) blur(1.5px);
    }

    .depoimentos .content .content-default .phone-content .button-container {
        width: 57vw;
        height: 5vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
        z-index: 10;
    }

    .depoimentos .content .content-default .phone-content .button-container .button {
        color: #fff;
        font-size: 5vw;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease-in-out;
        opacity: 0.75;
    }

    .depoimentos .content .content-default .phone-content .button-container .button:hover {
        opacity: 1;
        transform: scale(103%);
    }

    .depoimentos .content .content-default .phone-content .button-container .button:active {
        transform: scale(100%);
    }

    .depoimentos .content .content-default .phone-content .button-container .button:nth-child(1) {
        float: left;
    }

    .depoimentos .content .content-default .phone-content .button-container .button:nth-child(2) {
        float: right;
    }

    .depoimentos .content .content-default .shadow {
        background-color: #1E3050;
        position: absolute;
        bottom: -10%;
        left: 50%;
        right: 50%;
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        filter: blur(50px) opacity(30%);
        transform: scaleY(10%) translateX(-50%);
    }

    .pratica .content-default {
        display: block;
    }

    .pratica .content-default .container {
        display: block;
        padding: 2vw;
        position: relative;
    }

    .pratica .content-default .container:first-of-type {
        flex-grow: 1;
    }

    .pratica .content-default .container:last-of-type {
        max-width: 100%;
    }

    .pratica .content-default .container h1, .pratica .content-default .container h2, .pratica .content-default .container p, .pratica .content-default .container ul, .pratica .content-default .container li {
        max-width: 100%;
        margin: 0.5vw;
    }

    .pratica .content-default .container h1 {
        max-width: 100%;
        text-align: center;
        font-size: 5vw;
    }

    .pratica .content-default .container h2 {
        font-size: 3vw;
        font-weight: 400;
        text-align: center;
    }

    .pratica .content-default .container ul {
        list-style: url(../img/svg/check.svg);
        margin: 2vw auto;
        padding: 2vw 0 0 5vw;
    }

    .pratica .content-default .container ul li {
        font-size: 2vw;
    }

    .pratica .content-default .container img {
        max-width: 70%;
        display: block;
        margin: auto;
    }

    .pratica .content-default .shadow {
        width: 50%;
    }

    .amostra {
        background-image: url(../img/andre_mats.png);
        background-repeat: no-repeat;
        background-blend-mode: soft-light;
        background-size: 110%;
        background-position-y: center;
    }

    .amostra .backlight {
        display: none;
    }

    .amostra .content .content-default {
        display: block;
    }

    .amostra .content .content-default .container {
        width: 100%;
        margin: 2vw auto;
    }

    .amostra .content .content-default .container h1 {
        width: 100%;
    }

    .amostra .content .content-default .container ul {
        margin: auto;
        padding: 0 7vw;
    }

    .amostra .content .content-default .container ul h1 {
        text-align: center;
        margin: 2vw auto;
    }

    .amostra .content .content-default .container ul li {
        font-size: 2vw;
        width: 100%;
    }

    .amostra .content .content-default .container:last-of-type {
        padding: 2vw;
    }

    .amostra .content .content-default .container:last-of-type button {
        width: 80%;
        position: relative;
    }

    .amostra .content .content-default .container [src="public/img/andre-avental.png"], .amostra .content .content-default .container [src="public/img/andre_prop.png"] {
        display: none;
    }

    .criadores .content .content-default .container .image {
        max-width: 30%;
    }

    .criadores .content .content-default .container .text {
        padding: 3vw;
        height: 60vw;
    }

    .criadores .content .content-default .container .text h1 {
        font-size: 5vw;
    }

    .criadores .content .content-default .container .text ul li {
        font-size: 3vw;
    }

    .aulas .content .content-default .container {
        position: static;
    }

    .aulas .content .content-default .container:first-of-type {
        width: 0;
    }

    .aulas .content .content-default .container:last-of-type {
        width: 100%;
        z-index: 5;
    }

    .aulas .content .content-default .container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 40%;
        opacity: 0.1;
        z-index: 1;
    }

    .vantagens .strip span {
        font-size: 2vw;
    }

    .vantagens .content .content-default {
        display: block;
    }

    .vantagens .content .content-default .container p {
        font-size: 2vw;
        margin: 0 0 2vw 0;
    }

    .vantagens .content .content-default .container ul {
        padding: 0 3vw;
    }

    .vantagens .content .content-default .container ul li {
        font-size: 2vw;
    }

    .vantagens .content-default#content-2 {
        display: flex;
        flex-flow: row wrap;
    }

    .vantagens .content-default#content-2 .container {
        max-width: 40%;
        margin: 1vw;
        aspect-ratio: 1;
    }

    .vantagens .content-default#content-2 .container .box {
        padding: 5vw 1vw 1vw;
    }

    .vantagens .content-default#content-2 .container .box p, .vantagens .content-default#content-2 .container .box h1 {
        font-size: 1.5vw;
    }

    .vantagens #title {
        font-size: 3.5vw;
    }

    .valor .content .content-default {
        grid-template-columns: 100%;
    }

    .valor .content .content-default .container {
        max-width: 80%;
        margin: auto;
    }

    .valor .content .content-default .container:first-of-type h2 {
        font-size: 5vw;
    }

    .valor .content .content-default .container:first-of-type p {
        font-size: 1.8vw;
        font-weight: 400;
    }

    .valor .content .content-default .container h2 {
        font-size: 3vw;
        text-align: center;
    }

    .valor .content .content-default .container p {
        text-align: center;
        font-size: 1.5vw;
    }

    .valor .content .content-default .container .box {
        padding: 5vw 3vw;
    }

    .valor .content .content-default .container .box h1 {
        font-size: 7vw;
    }

    .valor .content .content-default .container .box h2 {
        font-size: 3vw;
    }

    .valor .content .content-default .container .box h3 {
        font-size: 1.5vw;
    }

    .valor .content .content-default .container .box p {
        font-size: 1.3vw;
    }

    .valor .content .content-default .container .box [src="public/img/pagamento.png"] {
        max-width: 50%;
    }

    .valor .content .content-default .container ul li {
        font-size: 2vw;
    }

    .garantia {
        padding-top: 20vw;
    }

    .garantia img {
        max-width: 25vw;
    }

    .garantia .content .content-default .container {
        margin: auto;
    }

    .garantia .content .content-default .container h1 {
        font-size: 5vw;
        max-width: 90%;
    }

    .garantia .content .content-default .container button {
        width: 80%;
    }

    .faq .content .content-default {
        display: block;
    }

    .faq .content .content-default .container {
        margin-bottom: 5vw auto;
    }

    .faq .content .content-default .container h1, .faq .content .content-default .container h3 {
        text-align: center;
    }

    .faq .content .content-default .container h1 {
        font-size: 3vw;
        padding: 2vw;
        font-weight: 400;
    }

    .faq .content .content-default .container h3 {
        font-size: 2vw;
    }

    .faq .content .content-default .container .collapsible .collapsible-content p {
        font-size: 2vw;
        text-align: center;
        margin: auto;
        padding: 3vw;
    }

    .faq .content .content-default .container .container a .box {
        max-width: 80%;
        margin: 3vw auto;
        padding: 3vw;
    }

    .faq .content .content-default .container .container a .box img {
        max-width: 15%;
    }

    .faq .content .content-default .container .container a .box span {
        font-size: 3vw;
        margin: auto;
    }

    .faq h4 {
        font-size: 2vw;
    }
}

/*# sourceMappingURL=style.css.map */